<!doctype html>
{% load static %}
{% block content %}
<html lang="en">

<head>
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <title>Генерация описания</title>
  <style>
    p {
      font-family: 'Times New Roman', Times, serif;
    }
  </style>
</head>

<body>
  <div id="head">
    <div id="head_link1">
      <p> <a href="index.html">Главная страница</a></p>
    </div>
    <div id="head_link2">
      <p><a href="foto.html">Описание фото</a></p>
    </div>
    <div id="head_link3">
      <p><a href="video.html">Описание Видео</a></p>
    </div>
  </div>



  <div id="video">
    <!-- partial:index.partial.html -->
    <input type="file" accept="video/*" id="input-tag" />
    <hr>
    <br> <br>

    <video controls id="video-tag">
      <source id="video-source" src="splashVideo">
      Your browser does not support the video tag.
    </video>
    <!-- partial -->
    <script src="{% static './script.js' %}"></script>
  </div>




  <div id="result">

  </div>
</body>

</html>

{%endblock%}